.event-cta {
    position: relative;
    z-index: 3;
    width: 350px;
    height: 550px;
    top: 3vh;
    margin: auto;
    background: #f6f6f6;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.InfoWindowAppear-appear {
  opacity: 0.01;
  transform: translateY(-80px);
}
.InfoWindowAppear-appear.InfoWindowAppear-appear-active {
  opacity: 1;
  transform: translateY(0px);
  transition: all 0.5s ease-out;
}

.close {
    float: right;
}
.event-info {
    width: 100%;
    height: 85%;
    padding: 0 10px;
    overflow: auto;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    background: #f6f6f6;
}
.title {
    font-size: 2rem;
    text-align: center;
    font-family: 'Knewave', cursive;
}
.flex-cta {
    height: 40%;
    display: flex;
    align-items: center;
}
.date-cta {
  width: 30%;
}
.date {
  width: 75px;
  height: 75px;
  background: rgba(0, 0, 0, 0.7);
  margin: 0 auto;
  text-align: center;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  border-radius: 20px;
}
.day {
  font-size: 2rem;
}
.detail-cta {
  width: 70%;
}
.place {
  margin: 7px 0;
}
.duration {
  margin: 0 30px;
}
.username {
  margin: 7px 0;
}
.description {
  padding: 0 20px;
}

.shift {
  position: relative;
  bottom: 10%;
  height: 40px;
}
.left {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white; 
  position: absolute;
  left: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 1.5rem;
  padding: 4px;
  cursor: pointer;
}
.right {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: white; 
  position: absolute;
  right: 75px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 1.5rem;
  padding: 4px;
  cursor: pointer;
}

/*.shift {
  position: relative;
  bottom: 40%;
  height: 80px;
}
.left {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white; 
  position: absolute;
  left: -20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 3rem;
  padding: 8px;
  cursor: pointer;
}
.right {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: white; 
  position: absolute;
  right: -20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
  font-size: 3rem;
  padding: 8px;
  cursor: pointer;
}*/
.index {
  width: 100%;
  text-align: center;
  margin: 20px 0;
}

.flash {
  animation: info-flash 200ms ease-out alternate;
}

@keyframes info-flash {
    0 {
      opacity: 0.01;
      /*transform: translateY(50px) skewY(20deg) rotateX(80deg);*/
      /*transform: translateX(-100px) skewY(-20deg) scaleX(0.3) rotateY(-100deg);*/
      transform: scaleX(0.1) rotateY(180deg);
    }
    50% {
      opacity: 0.3;
      /*transform: translateY(0) skewY(0deg) rotateX(0deg);*/
      /*transform: translateX(-30px) skewY(-20deg) scaleX(0.5) rotateY(-50deg);*/
      transform: scaleX(0.5) rotateY(50deg);
    }
    100% {
      opacity: 1;
      /*transform: translateY(0) skewY(0deg) rotateX(0deg);*/
      /*transform: translateX(0) skewY(0deg) scaleX(1) rotateY(0deg);*/
      transform: scaleX(1) rotateY(0deg);
    }
}



