.toggle-cta {
    position: relative;
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
}
a {
    cursor: pointer;
}
.navItem {
    margin: 0 15px;
}
.moon {
    font-size: 1.1rem;
}
.switch {
  position: relative;
  display: inline-block;
  width: 43px;
  height: 20px;
  top: 2px;
  margin: 0;
}

.switch input {display:none;}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .3s;
  transition: .3s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 3px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: .3s;
  transition: .3s;
}

input:checked + .slider {
  background-color: rgba(0, 0, 0, 0.7);
}

input:focus + .slider {
  box-shadow: 0 0 1px rgba(0, 0, 0, 0.7);
}

input:checked + .slider:before {
  -webkit-transform: translateX(21px);
  -ms-transform: translateX(21px);
  transform: translateX(21px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.search {
    position: fixed;
    z-index: 2;
    right: 40px;
    top: 11vh;
}
input[type=search] {
    background: #fef4e8 url(https://static.tumblr.com/ftv85bp/MIXmud4tx/search-icon.png) no-repeat 9px center;
    border: solid 2px #ccc;
    border-radius: 30px;
    padding: 9px 10px 9px 32px;
    width: 15px;
    transition: all .5s;
    animation: floating 1.2s linear alternate infinite;
}
input[type=search]:hover {
    background-color: #fff;
    cursor: pointer;
}
input[type=search]:focus {
    width: 340px;
    padding-left: 32px;
    color: #000;
    background-color: #fff;
    cursor: pointer;
}
.map {
    margin: 0;
    width: 100vw;
    height: calc(100vh - 56px);
}

@media (max-width: 800px) {
    .search {
        left: 20px;
        top: 17vh;
    }
    .navItem {
        margin: 0 5px;
    }
}

@keyframes floating {
    from {
        box-shadow: 0 7px 7px #c7c7c7;
        transform: translateY(0px);
    }
    to {
        box-shadow: 0 3px 3px #c7c7c7;
        transform: translateY(3px);
    }
}
